@import "../node_modules/normalize.css/normalize.css";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

div#root {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

header {
  height: 3em;
  display: flex;
  align-items: center;
  background-color: #eee;
  padding: 0 0.5em;
  img {
    height: 2.5em;
  }

  a {
    display: flex;
    align-items: center;
    span {
      padding: 0 0.5em;
      font-size: 1.2em;
      font-weight: bold;
    }
    text-decoration: inherit;
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}

main {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  align-items: center;

  padding: 0.5em;
  width: 100%;
  max-width: 50em;
  margin: 0 auto;
}

footer {
  background-color: #eee;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: inherit;
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}

button {
  padding: 0.5em 1em;
  &:not(:disabled) {
    cursor: pointer;
  }
}

h1 {
  text-align: center;
}

table {
  border: 0.1em solid #bbb;
  border-collapse: collapse;
  th,
  td {
    padding: 0.5em 1em;
  }

  thead {
    background-color: #bbb;
  }

  tbody {
    cursor: pointer;
    tr:nth-child(even) {
      background-color: #eee;
    }

    tr:hover {
      background-color: #ddd;
    }
  }
}

form {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 25em;
  label {
    input {
      border: 0.1em solid #bbb;
      padding: 0.5em 1em;
      width: 100%;
    }
    padding-bottom: 0.5em;
  }

  button {
    margin-top: 2em;
  }
}
